---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	border: none;
	margin: 0;
}

// My stuff

$text-color: rgb(36, 36, 36);

body,
html {
	min-height: 100%;
}

html {
	background-color: #fdfdfd;
}

body {
	font-size: 100%;
	background-image: url(/img/funky-lines.png);
	color: $text-color;
	padding: 10px;

	@media (min-width: 400px) {
		padding: 15px;
		font-size: 125%;
	}

	@media (min-width: 720px) {
		padding: 30px;
	}
}

h1, h2, h3, h4 {
	font-family: 'Abril Fatface', cursive;
	line-height: 1.5;
}

h2 {
	font-size: 1.25em;
	margin-top: 20px;

	@media (min-width: 960px) {
		font-size: 1.75em;
	}
}

a {
	color: rgb(56, 56, 56);
	&:hover { color: rgb(143, 143, 143); }
}

p {
	padding-top: 2%;
	line-height: 1.35;

	@media (min-width: 960px) {
		&:first-child {
			padding-top: 0;
		}
	}
}

strong {
	font-weight: bold;
	text-decoration: underline;
	color: lighten($text-color, 3%);
}

li {
	line-height: 1.35;
}

.container {
	background-color: #f1f2f6;
	padding: 30px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.max50 {
	@media(min-width: 960px) {
		max-width: 50%;
	}
}

header {
	padding-top: 15%;

	@media (min-width: 960px) {
		min-height: 100vh;
	}

	h1 {
		font-size: 2em;
		line-height: 1;
		display: inline-block;

		@media (min-width: 400px) {
			font-size: 3em;
		}

		@media (min-width: 760px) {
			font-size: 5em;
		}

		@media (min-width: 960px) {
			font-size: 6em;
		}
	}

	hr {
		height: 2px;
		background-color: $text-color;
		margin: 20px -10px;
	}

	p {
		font-size: 1em;
		padding-top: 10px;
		line-height: 1.35;

		@media (min-width: 760px) {
			max-width: 80%;
			font-size: 1.25em;
		}

		@media (min-width: 960px) {
			max-width: 50%;
		}
	}
}

.skillList {
	list-style: circle;
	padding-left: 20px;

	li {
		margin-top: 12px;
	}
}

.contactArea {
	.email:before {
		content: attr(data-user) "\0040" attr(data-website);
	}
}

.square {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 150px;
	right: 150px;
	background-color: darken(#f1f2f6, 5%);
	opacity: .35;
	transform: rotate(45deg);
	z-index: -1;
}
