---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	border: none;
	margin: 0;
}

// My stuff

$text-color: rgb(36, 36, 36);

body,
html {
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 100%;
	background-color: #f1f2f6;
	color: $text-color;

	@media (min-width: 400px) {
		font-size: 125%;
	}
}

h1, h2, h3, h4 {
	font-family: 'Abril Fatface', cursive;
	line-height: 1.5;
}

header {
	padding-top: 15%;

	h1 {
		font-size: 2em;
		line-height: 1;
		display: inline-block;

		@media (min-width: 400px) {
			font-size: 3em;
		}

		@media (min-width: 760px) {
			font-size: 6em;
		}

		@media (min-width: 960px) {
			font-size: 7em;
		}
	}

	hr {
		height: 2px;
		background-color: $text-color;
		margin: 20px -10px;
	}

	p {
		padding-top: 10px;

		@media (min-width: 760px) {
			max-width: 80%;
		}

		@media (min-width: 760px) {
			max-width: 70%;
		}

		@media (min-width: 960px) {
			max-width: 50%;
		}
	}
}

.container {
	border: 15px solid white;
	padding: 30px;
	min-height: 100%;
}
