---
layout: default
title: Ludvig Larsendahl - Portfolio
description: Portfolio Ludvig Larsendahl.
permalink: /portfolio
--- 

<section id="portfolio-container" class="container narrow">
	<h1>Portfolio</h1>
	<p class="desc">Ludvig Larsendahls portfolio i alfabetisk ordning.</p>

	{% assign sortedData = (site.data.portfolio.portfolio | sort: 'title') %}
	{% for item in sortedData %}
		<article class="portfolio-item">
		  <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
		  <p>
		  	{{ item.description }}
		  </p>
		  <ul class="tags">
		  	{% for tag in item.tags %}
				<li>{{ tag }}</li>
		  	{% endfor %}
		  </ul>
		</article>
	{% endfor %}
</section>