<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='icon' href='favicon.png' type='image/png'>

	<!--General Meta-->
	<meta name="description" content="{{ page.description }}">
	<link rel="author" href="https://plus.google.com/u/0/100316235831650515522"/>

	<!--OG-->
	<meta property='og:title' content='Ludvig Larsendahl'>
	<meta property='og:url' content='http://ludvig.larsendahl.se/'>
	<meta property='og:description' content='{{ page.description }}'>
	<meta property='og:image' content='{{ "/favicon.png" | prepend: site.baseurl }}'>

	<!--Styles-->
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<!--URL and rss-->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
