<header style="margin-bottom: 45px;">
	<nav>
		<div class="ui stackable menu">
			<div class="ui container">
				<div style="padding: 10px">
					<img src="/assets/logo/logo.svg" style="width: 130px; position: relative; top: 3px;">
				</div>
				<a href="/" class="item">Hem</a>
				<a href="#" class="item">Skapa Event</a>
				<a href="#" class="item">Stafettlag</a>
				<a href="#" class="item">Se Anmälda</a>
				<a href="/kontakt" class="item borderless"><div class="ui button blue">Anmäl till event</div></a>
			</div>
		</div>
	</nav>
</header>
