#socialNav {
	z-index: 3;
	position: fixed;
	right: 15px;
	bottom: 15px;
	
	li {
		height: 60px;
		width: 60px;
		text-indent: -9999px;

		display: inline-block;
		margin: 0 12px;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.mail {
		background: url(/img/mail.png) center no-repeat;
		background-size: contain;
	}
	.linkedin {
		background: url(/img/linkedin.png) center no-repeat;
		background-size: contain;
	}
	.twitter {
		background: url(/img/twitter.png) center no-repeat;
		background-size: contain;
	}

	@media (max-width: 870px) {
		position: relative;
		right: 0; bottom: 0;
		padding: 40px 0 60px;
		text-align: center;
	}
}

.navigation {
	height: $header-height;
	line-height: $header-height;
	position: relative;
	z-index: 2;

	ul {
		transition: transform .450s ease;
		position: relative;
		list-style: none;
		transform: translateY(0);

		li {
			margin: 0 20px;
			display: inline-block;

			a {
				padding: 10px;
				font-weight: 300;
				font-size: 18pt;
			}
		}
	}

	@media (max-width: 870px) {
		text-align: center;

		ul li {
			margin: 0 15px;

			a {
				padding: 0;
				font-size: 16pt;
			}
		}
	}

	@media (max-width: 480px) {
		ul li {
			margin: 0 8px;
			a {
				font-size: 14pt;
			}
		}
	}
}

body.navHidden {
	.navigation {
		height: 0;
		padding: 0;
	 	visibility:hidden;
	 	opacity:0;

	 	ul {
	 		transform: translateY(-175px);
	 	}
 	}
}

//Utils
.shadow {
	box-shadow: 0 0 22px rgba(0,0,0,.45);
}
.container {
	margin: 0 auto;
	width: 75%;

	@media (max-width: 870px) {
		width: 90%;
	}
}
.row:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
 }
 .btn {
 	padding: 10px 40px;
 	border: solid 1px #FFF;
 	border-radius: 8px;
 	font-family: "Raleway", sans-serif;
 	font-weight: 300;
 	display: inline-block;

 	&:hover {
 		background: #FFF;
 		color: $brand-color;
 	}

 	&.soon {
 		position: relative;
	 	&:after {
	 		content: "Kommer snart!";
	 		display: block;
	 		position: absolute;
	 		top: 60px; left: 50%;
	 		transform: translate(-50%, -30px);
	 		background: #242424;
	 		width: 120px;
	 		text-align: center;
	 		font-size: 11pt;
	 		padding: 4px 6px;
	 		border-radius: 2px;

			transition: all .30s ease;
	 		visibility: hidden;
	 		opacity: 0;
	 	}
	 	&:hover:after {
			color: #FFF !important;
			transform: translate(-50%, 0px);
			visibility: visible;
			opacity: 1;
	 	}
 	}
 }
.breakH1 {
	@media (max-width: 870px) {
		word-break: break-all;
	}
}

.ieAlert {
	background: #FFF;
	color: #000;
	padding: 40px;
	text-align: center;
}