#about-container {
	h1 {
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		font-size: 42pt;
		margin-bottom: 50px;

		span {
			font-weight: 700;
		}

		@media (max-width: 1800px) {
			max-width: 65%;
			font-size: 36pt;
		}

		@media (max-width: 1655px) {
			font-size: 32pt;
		}

		@media (max-width: 1500px) {
			max-width: 70%;
			font-size: 28pt;
		}

		@media (max-width: 1300px) {
			max-width: 100%;
			text-align: center;
		}

		@media (max-width: 480px) {
			font-size: 22pt;
		}
	}

	.story {
		max-width: 65%;
		line-height: 1.65;
		float: left;

		@media (max-width: 1600px) {
			max-width: 60%;
			font-size: 14pt;
		}

		@media (max-width: 870px) {
			float: none;
			max-width: 100%;
			margin: 0 0 40px 0;
		}
	}

	.myImg {
		display: block;
		float: right;
		max-width: 400px;
		width: 35%;
		position: relative;
		top: -175px;

		@media (max-width: 1500px) {
			width: 25%;
			top: -125px;
		}

		@media (max-width: 1300px) {
			top: 0;
		}

		@media (max-width: 870px) {
			float: none;
			margin: 0 10%;
			width: 80%;
		}
	}

	.bold {
		position: relative;
		top: 100px;

		font-family: "Montserrat", sans-serif;
		font-size: 22pt;
		line-height: 1.65;
		font-weight: 400;
		float: right;
		width: 60%;

		a {
			border-bottom: dashed 2px #FFFFFF;
			&:hover {
				border-bottom: inset 2px;
			}
		}

		.btn {
			font-size: 16pt;
			border-bottom: solid 1px #FFFFFF;
		}

		@media (max-width: 1300px) {
			width: 80%;
		}

		@media (max-width: 870px) {
			width: 100%;
			font-size: 18pt;
		}

		@media (max-width: 480px) {
			font-size: 14pt;

			.btn {
				display: block;
				text-align: center;
				margin: 0 0 15px;
			}
		}
	}

	h3 {
		font-family: "Raleway", sans-serif;
		font-weight: 200;
		text-align: center;
		margin: 60px 0 20px;
		font-size: 22pt;
	}
}
.devicesImg {
	width: 100%;
	height: 800px;
	background: url(../img/devices.svg) no-repeat left;
	background-size: contain;
	background-position: -65px 0;

	@media (max-width: 870px) {
		height: 550px;
		background-size: 100%;
	}
}

$skillListBreakpoint: 640px;
.skillLists {
	display: flex;
	justify-content: space-between;

	max-width: 1100px;
	margin: 0 auto;

	@media (max-width: $skillListBreakpoint) {
		flex-direction: column;
	}

	h3 {
		@media (max-width: $skillListBreakpoint) {
			font-size: 16pt !important;
		}
	}

	& > div {
		width: 50%;

		@media (max-width: $skillListBreakpoint) {
			width: 100%;
		}
	}

	.skills {
		display: inline-flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		width: 100%;

		.skill {
			width: 33%;
			text-align: center;
			padding: 20px;

			.devicons {
				font-size: 26pt;
				@media (max-width: $skillListBreakpoint) {
					font-size: 22pt;
				}
			}

			.label {
				font-size: 12pt;
				margin-top: 5px;

				@media (max-width: $skillListBreakpoint) {
					font-size: 11pt;
				}
			}
		}
	}

	.medium .skills .skill .devicons {
		font-size: 52pt;

		@media (max-width: $skillListBreakpoint) {
			font-size: 34pt;
		}
	} 
}