//
//	ghostops.nu
//

//Devicons
@import 'devicons.scss';

$brand-color: #e91e63;
$accent-color: #c2185b;

//Reset stuff

$transition-all: ease;
* {
	margin: 0;
	padding: 0;
	transition: max-width .3s $transition-all, width .3s $transition-all, margin .3s $transition-all, 
				top .3s $transition-all, bottom .3s $transition-all, left .3s $transition-all, right .3s $transition-all;
}

a {
	text-decoration: none;
	color: #FFF;
}

html {
	height: 100%;
}

body {
	background: $brand-color;
	font: 16pt "Raleway", sans-serif;
	color: #FFF;
	min-height: 100%;

	&.bottomPadding {
		height: auto;
		padding-bottom: 100px;
	}
}

#barba-wrapper {
	min-height: 100%;

	.barba-container {
		min-height: 100%;
	}
}

//Global styles
@import 'global.scss';

//Index
@import 'index.scss';

//About page
@import 'about.scss';

//Projects
@import 'projects.scss';

//Contact
@import 'contact.scss';






